.services {
    padding-bottom: 30px;
}

.services h2::after {
    background-color: #d35400;
    width: 100px;
    height: 3px;
    display: block;
    content: '';
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

